# Geçici veya büyük klasörleri dışla
!!!/
\!\!\!\//
"!!!"/
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env/
.venv/
venv/
env/

# MacOS
.DS_Store

# VS Code
.vscode/

# PyInstaller
*.spec
dist/
build/
*.egg-info/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Test / coverage
.coverage
htmlcov/
*.log

*.zip
Dikkat_Calisan_Version/
--finans_takip.db