# Geçici veya büyük klasörleri dışla
!!!/
\!\!\!\//
"!!!"/
__pycache__/

# Virtual environments
.env/
.venv/
venv/
env/

# MacOS
.DS_Store

# VS Code
.vscode/

# PyInstaller
*.spec
dist/
build/

# Test / coverage
.coverage
htmlcov/
*.log

*.zip
Dikkat_Calisan_Version/